*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Great+Vibes&display=swap');

.main{
  font-size: 30px;
}
.mainimg{
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 480px;
}